/* h2
{
    color: red !important
} */
/* h2
{
    color: red;
}
.title
{
    color: blue;
}

#title
{
    color: green;
} */

.title
{
    color: blue;
}

.container .title 
{
    color: red;
}

.container #title
{
    color: blueviolet;
}

.container h2
{
    color: chocolate;
}